binds {
    Mod+Shift+Slash    hotkey-overlay-title="Open THIS Cheatsheet" { spawn-sh "qs -c noctalia-shell ipc call plugin:keybind-cheatsheet toggle"; }
    Mod+Slash          hotkey-overlay-title="Open App Launcher"    { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
    Mod+Comma          hotkey-overlay-title="Open Settings"        { spawn-sh "qs -c noctalia-shell ipc call settings toggle"; }
    Mod+Period         hotkey-overlay-title="Open Control Center"  { spawn-sh "qs -c noctalia-shell ipc call controlCenter toggle"; }
    Mod+Shift+Q        hotkey-overlay-title="Session Menu"         { spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle"; }
    Mod+V              hotkey-overlay-title="Open Clipper Plugin"  { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "plugin:clipper" "togglePanel"; }

    XF86AudioRaiseVolume  allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume increase"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume decrease"; }
    XF86AudioMute         allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteOutput"; }
    XF86AudioMicMute      allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteInput"; }
    XF86AudioNext         allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media next"; }
    XF86AudioPrev         allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media previous"; }
    XF86AudioPlay         allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }
    XF86AudioPause        allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }

    XF86MonBrightnessUp    allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call brightness increase"; }
    XF86MonBrightnessDown  allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call brightness decrease"; }

    XF86AudioMedia   hotkey-overlay-title="Keep Awake" { spawn-sh "qs -c noctalia-shell ipc call idleInhibitor toggle"; }

    Mod+Shift+Escape hotkey-overlay-title="Restart Noctalia" { spawn-sh "killall qs && qs -c noctalia-shell &"; }
}
