// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

// /- output "DP-1" {
//     mode "2560x1440@359.979" // Set resolution and refresh rate
//     scale 1 // No scaling (use 2 for HiDPI)
// }

// Framework 13 Internal Display (Anchor at 0,0)
output "eDP-1" {
    mode "2256x1504@59.999"
    scale 1.5
    // Laptop is the anchor point
    position x=0 y=0
}

// Auto-configured: DP-10 - LG Electronics LG HDR WFHD (Thu Feb 19 12:59:01 PM EST 2026) slot=2 right of eDP-1
output "DP-10" {
    mode "2560x1080@59.978"
    scale 1.0
    position x=-528 y=-1080
}
