workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5"
workspace "6"
workspace "7"

layout {
        gaps 2 // gap between windows

        struts{
            top 2 // extra gap to clear top bar
        }

        tab-indicator {
            hide-when-single-tab
            width 4
            gap 6
            gaps-between-tabs 10
            corner-radius 10
            length total-proportion=0.98
            place-within-column
            active-color "#f38ba8" // Catppuccin Mocha Red
        }

        focus-ring {
            on
            width 2
            // active-color "#fab387" // Catppuccin Mocha Peach
            // active-color "#b4befe" // Catppuccin Mocha Lavender
            // active-color "#94e2d5" // Catppuccin Mocha Teal
            active-gradient from="#fab387" to="#94e2d5" angle=0 // from Peach to Teal
            // inactive-color "transparent"
            // inactive-color "#1e1e2e" // Catppuccin Mocha Base
        }

        center-focused-column "never" // Don’t auto-center focused column
        background-color "transparent" // <- needed for noctalia-shell to set wallpaper

        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
            proportion 1.0
        }

        preset-window-heights {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
            proportion 1.0
        }

    }
