    window-rule {
        geometry-corner-radius 10
        clip-to-geometry true
    }

    // Move Monitor Position: floating, minimal size
    window-rule {
        match title="move-monitor-position"
        open-floating true
        default-column-width { fixed 420; }
        default-window-height { fixed 320; }
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }
