    window-rule {
        geometry-corner-radius 10

        // This is valid here
        clip-to-geometry true
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }
